In [8]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [9]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Deputatskiy,69.3000,139.9000,-6.48,99,100,2.82,RU,2021-11-20 19:17:15
1,1,Wharton,29.3116,-96.1027,78.78,60,75,11.50,US,2021-11-20 19:15:28
2,2,Port Hedland,-20.3167,118.5667,80.65,74,100,9.22,AU,2021-11-20 19:17:15
3,3,Arraial Do Cabo,-22.9661,-42.0278,73.36,78,75,14.97,BR,2021-11-20 19:17:15
4,4,Pisco,-13.7000,-76.2167,71.65,73,20,6.91,PE,2021-11-20 19:17:16

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Wharton,29.3116,-96.1027,78.78,60,75,11.50,US,2021-11-20 19:15:28
2,2,Port Hedland,-20.3167,118.5667,80.65,74,100,9.22,AU,2021-11-20 19:17:15
9,9,Muriti,-1.9833,32.9167,75.04,72,83,16.20,TZ,2021-11-20 19:17:17
14,14,Hilo,19.7297,-155.0900,81.25,74,20,4.61,US,2021-11-20 19:17:18
17,17,Akyab,20.1500,92.9000,77.05,72,23,9.98,MM,2021-11-20 19:17:20
19,19,Kapaa,22.0752,-159.3190,80.92,78,40,1.01,US,2021-11-20 19:17:20
23,23,Vaini,-21.2000,-175.2000,80.76,89,20,4.61,TO,2021-11-20 19:17:22
24,24,Beboto,8.2668,16.9390,80.74,28,9,1.07,TD,2021-11-20 19:17:22
25,25,Muli,2.9167,73.5667,81.43,77,100,17.78,MV,2021-11-20 19:17:22
27,27,Buin,-33.7333,-70.7500,89.06,17,0,12.82,CL,2021-11-20 19:17:23

In [31]:
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Wharton,29.3116,-96.1027,78.78,60,75,11.50,US,2021-11-20 19:15:28
2,2,Port Hedland,-20.3167,118.5667,80.65,74,100,9.22,AU,2021-11-20 19:17:15
9,9,Muriti,-1.9833,32.9167,75.04,72,83,16.20,TZ,2021-11-20 19:17:17
14,14,Hilo,19.7297,-155.0900,81.25,74,20,4.61,US,2021-11-20 19:17:18
17,17,Akyab,20.1500,92.9000,77.05,72,23,9.98,MM,2021-11-20 19:17:20
...,...,...,...,...,...,...,...,...,...,...
579,579,Bubaque,11.2833,-15.8333,84.06,68,32,10.76,GW,2021-11-20 19:32:13
581,581,Itapora,-22.0799,-54.7874,85.24,52,7,8.52,BR,2021-11-20 19:32:14
582,582,Anloga,5.7947,0.8973,84.42,78,15,12.15,GH,2021-11-20 19:32:14
584,584,Wanning,18.8003,110.3967,75.63,85,67,1.16,CN,2021-11-20 19:32:14
586,586,Duku,11.2361,4.9073,82.71,16,0,6.31,NG,2021-11-20 19:32:15

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1        Wharton      US     78.78  29.3116  -96.1027
2   Port Hedland      AU     80.65 -20.3167  118.5667
9         Muriti      TZ     75.04  -1.9833   32.9167
14          Hilo      US     81.25  19.7297 -155.0900
17         Akyab      MM     77.05  20.1500   92.9000
19         Kapaa      US     80.92  22.0752 -159.3190
23         Vaini      TO     80.76 -21.2000 -175.2000
24        Beboto      TD     80.74   8.2668   16.9390
25          Muli      MV     81.43   2.9167   73.5667
27          Buin      CL     89.06 -33.7333  -70.7500

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Wharton,US,78.78,29.3116,-96.1027,"Countryside Inn Wharton, TX"
2,Port Hedland,AU,80.65,-20.3167,118.5667,The Esplanade Hotel
9,Muriti,TZ,75.04,-1.9833,32.9167,
14,Hilo,US,81.25,19.7297,-155.0900,Hilo Hawaiian Hotel
17,Akyab,MM,77.05,20.1500,92.9000,Hotel Memory
19,Kapaa,US,80.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
23,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
24,Beboto,TD,80.74,8.2668,16.9390,
25,Muli,MV,81.43,2.9167,73.5667,Medhufushi Island Resort
27,Buin,CL,89.06,-33.7333,-70.7500,Paihuen

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))